.infosContainer {
  width: 100vw;
  min-height: 100vh;
  background-color: #f8f8f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  
}

.images,
.tower {
  vertical-align: middle;
}

.images {
  height: 2rem;
  width: 2rem;
}

.tower {
  height: 4rem;
  width: 4rem;
}

.paragraph{
  font-family: "Savate", Arial, Helvetica, sans-serif;;
	margin-bottom: 2rem;
	width: 70vw;
	line-height: 2.2; 
	font-size: 2rem;
	text-align: center;
	z-index: 10;
}

.firstBlob{
	height: auto;
	width: auto;
	position: absolute;
	top:52%;
	left: 3%;
}

.thirdBlob{
	height: auto;
	width: auto;
	position: absolute;
	top:50%;
	right: 3%;
}


.Blob{
  height: 3rem;
  width: 8rem;
  position: absolute;
  background-color: aquamarine;


}

.fds{
  min-width: 300px;
  width: auto;
  height: 300px;
  border-color: blue;
  z-index: 10;
}


@media (max-width: 768px) {
  .firstBlob, .thirdBlob{
    display: none;
  }

  .paragraph{
	width: 90vw;
	line-height: 2; 
	font-size: 1.5rem;
  }
}
