.slogan{
    font-family: Voyage, Arial, Helvetica;
    color: #003056;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 2rem;
    text-align: center;
}