*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* FONTS */

@font-face {
  font-family: 'Sticky Paper';
  src: url('/fonts/Sticky_Paper.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.stickyFont {
  font-family: 'Sticky Paper', sans-serif;
}

@font-face {
  font-family: 'Kind Daily';
  src: url('/fonts/Kind_Daily.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.KindFont {
  font-family: 'Kind Daily', sans-serif;
}



.container{
  height: contain;
  min-height: 100vh;
  width: 100%;
  background-color: #d4ecf0;
}

